<include src="./src/views/partials/nav.html"></include>
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="flex flex-col items-center">
    <h2 class="mt-6 text-center text-4xl text-gray-800">
      Add category
    </h2>
    <div class="flex justify-center items-center mt-8 w-1/2">
      <div class="w-full">
        <label for="todo" class="block text-2xl font-medium text-gray-700">Name</label>
        <div class="mt-1">
          <input type="text" name="todo" id="todo"
            class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
            placeholder="Work">
        </div>
      </div>
    </div>
    <div class="flex justify-start mt-8 w-1/2">
      <div class="w-3/4">
        <label for="description" class="block text-2xl font-medium text-gray-700">Description</label>
        <div class="mt-1">
          <textarea rows="8" name="description" id="description"
            class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
            placeholder="Add a description"></textarea>
        </div>
      </div>
    </div>
    <div class="flex justify-start items-end mt-8 w-1/2">
      <div class="flex justify-between items-end w-3/4">
        <div>
          <div class="block text-2xl font-medium text-gray-700">Pick a color</div>
          <ul class="mt-1 flex flex-row justify-center items-center">
            <li class="mr-4 last:mr-0">
              <span class="block p-1 border-2 border-gray-500 rounded-full transition ease-in duration-300">
                <span class="block w-6 h-6 bg-blue-500 rounded-full"></span>
              </span>
            </li>
            <li class="mr-4 last:mr-0">
              <span
                class="block p-1 border-2 border-white hover:border-gray-500 rounded-full transition ease-in duration-300">
                <span class="block w-6 h-6 bg-yellow-500 rounded-full"></span>
              </span>
            </li>
            <li class="mr-4 last:mr-0">
              <span
                class="block p-1 border-2 border-white hover:border-gray-500 rounded-full transition ease-in duration-300">
                <span class="block w-6 h-6 bg-red-500 rounded-full"></span>
              </span>
            </li>
            <li class="mr-4 last:mr-0">
              <span
                class="block p-1 border-2 border-white hover:border-gray-500 rounded-full transition ease-in duration-300">
                <span class="block w-6 h-6 bg-green-500 rounded-full"></span>
              </span>
            </li>
          </ul>
        </div>
        <a href="#">
          <button type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Save category
          </button>
        </a>
      </div>
    </div>
    <div class="flex justify-start mt-16 w-1/2">

    </div>
  </div>
</div>